# Configuration file

general {
    # Item and Armor IDs that shine light when found on any EntityLiving. Syntax: ItemID:LightValue, seperated by commas
    S:LightItems=lit_pumpkin=10,terrafirmacraft:item.Blue Steel Bucket Lava=12,redstone_torch=6,redstone=6,terrafirmacraft:Torch=12

    # Update Interval time for all EntityLiving in milliseconds. The lower the better and costlier.
    I:"update Interval"=1000
}


