# Configuration file

general {
    # Item IDs that shine light while held. Armor Items also work when worn. [ONLY ON OTHERS] Syntax: ItemID[-MetaValue]:LightValue, seperated by commas
    S:LightItems=lit_pumpkin=10,terrafirmacraft:item.Blue Steel Bucket Lava=12,redstone_torch=6,redstone=6,terrafirmacraft:Torch=12

    # Update Interval time for all other player entities in milliseconds. The lower the better and costlier.
    I:"update Interval"=1000
}


